*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: #570e28;
    text-align: center;
    height: 180px;
    color: #fec63d;
    
}

.label-1 {
	width: 535px;
	height: 75px;
	text-align: left;
}

nav{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #840705;
    justify-content: center;

    
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}

.pestañass{

    background-color: #fec63d;
    padding: 15px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pestaña-actual{

    background-color: #d68227;
    padding: 15px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pestaña{
	width: 694px;
	height: 36px;
	background: #fec63d;
	color: #000000;
	border-color: #7d2709;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px 8px 0px 0px;
	font-family: "Amiko";
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: beige;
    padding: 20px;
    text-align: justify;

}

section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
    text-align: justify;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}