*{
    box-sizing: border-box;
    
}

body{
    font-family: "Amiko";
    margin: 0;
    padding: 0;
    background-color: #570e28;
}

header{
    background-color: #570e28;
    text-align: center;
    height: 180px;
    color: #fec63d;
    
}


nav{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #840705;
    justify-content: center;

    
}



nav a{

    color: black;
    padding: 14px 20px;
    text-decoration: none;
    
}

.pestañass{

    background-color: #fec63d;
    padding: 15px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pestaña-actual{

    background-color: #d68227;
    padding: 15px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Amiko";
}
.pestaña{
	background-color: #fec63d;
    padding: 15px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Amiko";
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#secundarias{
    width: 70%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

aside{
    flex: 30px;
    background-color: beige;
    padding: 20px;
    text-align: justify;

}

section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
    text-align: justify;
}

footer{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

.contenedor-empresa {
	width: 80%;
	padding: 8px 8px 8px 8px;
	background: #ffa834;
	border-color: #ffa834;
	border-width: 1px;
	border-style: solid;
}

.acercade{
    width: 50%;
    text-align: justify;
    align-items: center;
    float: left;
}
.empresa{
    width: 40%;
    float: right;
    margin-right: -4%;
}

.img-secundaria{
    width: 115px;
    height: 85px;
}

.promociones{

    width: 852px;
    height: 203px;
    padding: 20px 20px 20px 20px;
    background: #FFEAD0;
    font-family: "Barrio";
    text-align: center;
    margin-bottom: 20px;
}

.contacto{

    width: 80%;
    height: 210px;
    background: #ffa834;
    border-color: #ffa834;
    border-width: 1px;
    border-style: solid;
}

.contacto-izq{

    float: left;
    width: 40%;
    color: #5b1a04;
    font-family: "Antic";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-left: 4%;
}

.contacto-der{
    float: right;
    width: 40%;
    color: #5b1a04;
    font-family: "Antic";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-right: 4%    ;
}

.ubicacion{
    color: white;
}

.ubicacion-izq{
    width: 60%;
    float: left;
    font-size: 20px;
}

.ubicacion-izq li{
    margin-bottom: 50px;
}
.ubicacion-der{
    width: 40%;
    float: right;
}

.datos{

    width: 40%;
    background: #ffa834;
    border-color: #ffa834;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    text-align: center;
}

.query{
    width: 70%;
    text-align: right;
}


.card{
    width: 250px;
    flex-direction: column;
    align-content: center;
    color: #ffa834;
    margin: auto;
    text-align: justify;
}
.card h2{

    text-align: center;
}

#productos {
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    
}

#productos li{
    width: 33%;
    display: inline-block;
    text-align: center;
}
.img{
    align-content: center;
    height: 125px;
    width: 250px;
}

#login{
    margin: auto;
    justify-content: center;
    margin-top: 20%;
    text-align: center;
    background-color: white;
    align-items: center;
    width: 30%;
    background-color: #fec63d;
}
#titulo-login{

    padding-top: 2%;
}

#campos-admin{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    height: 10%;
    justify-content: space-between;
    margin-bottom: 5%;
    margin: auto;
}

#subidaImg{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
        width: 100%;
    }

    .row{
        align-items: center;
        justify-content: center;
    }

    .promociones{
        width: 100%;
    }

    #secundarias{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img-secundaria{
        text-align: center;
        width: 40%;
    }
    
    .contenedor-empresa{
        width: 100%;
    }

    .acercade{
        width: 100%;
        float: none;
    }

    .empresa{
        width: 100%;
        text-align: center;
    }

    .contacto{
        width: 100%;
    }

    .ubicacion-izq{
        width: 100%;
    }

    .ubicacion-der{
        width: 100%;
        text-align: center;
    }

    .datos{
        width: 80%;
        
    }




    #productos{
        margin-left: -5%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #productos-admin{
        margin-left: -5%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

    

}